/*custom font for text*/

@import url(http://fonts.googleapis.com/css?family=Nunito);



/*Basic reset*/

* {margin: 0; padding: 0;}



header,section,nav,aside,footer,main, article, ul, a, h3, h3, h1, p {

    display:block;

}



body {

	width:100%;

	font-family: Nunito, arial, verdana;

}



#wrapper {

    margin: 0px auto;

    width:100%;

}



.clear { clear:both; }



ul {

	list-style-type: none;

	float: left;

	position: absolute;

}



/*header area*/



header {

    width:100%;

    height:132px;

   	float: right;

    background: #d6dde7 url(../images/navBgr.jpg) repeat-x;

}



#logo{

    height: 85px;

    background: url(../images/elbit.png);

    background-repeat: no-repeat;

    background-position:right;

    margin-right:20px;

    margin-top:5px;

}



#user{

	float:right;

	position: relative;

	right:40px;

	top:17px;

}



#user p, #user a {

	display:inline;	

	margin-left:4px;

}

/*content area*/



main  {

	width:100%;

	background-color:#FFFFFF;

	float:left;	

	height: 550px;

}



#content h1, #searchContent h1 {

    font-size: 24px;

    line-height: 24px;

    font-weight: bold;

    padding-left: 20px;

	margin-top: 30px;

	color:#004a8f;

	text-shadow: 2px 2px #999999;

}

#content h2, #searchContent h2 {

    font-size: 18px;

   	padding-left: 20px;

    text-decoration: underline;

	margin-top: 20px;

}

#content ul li, #searchContent ul li {

    font-size: 16px;	

    padding-left: 40px;

    padding-top: 12px;

    padding-bottom: 12px;

    background: url(../images/flag3.png) no-repeat left center;

    margin-left: 30px;

	margin-top: 10px;

}



#content ul li a:hover, #content ul li a:link, #content ul li a:visited {

	text-decoration: none;

}



/*footer*/



footer {

   width:100%;

   padding-top: 10px;

   background: #032d5f;

   float:left;  

   height: 40px;

}



footer a:link, footer a:visited, footer p

{

    font-size: 15px;

    color: #FFFFFF;	

    text-decoration: none;

    display:inline;

}



/*************login page************/



#login{

background: url(../images/login_bg1.jpg);

}



#wrapper_login{

	margin: 0px auto;



}



#logo_login{

	float: left;

	height: 90px;

	margin: 120px 0 0 15px;

	background: url(../images/elbit.png) no-repeat center;

}



.container{

	width:350px;

}



.form-signin button{

	font-size:16px;

	height:40px;

	background:#032d5f;

}


	 

/*********search lisense*******/

.searchLicense label, .CreateLicense label {

   font-weight: bold;

   font-size: 16px;

   position: relative; left: 20px;

}



.searchLicense form input, .CreateLicense form input, .CreateLicense form textarea{

	position: relative; 	

	left: 20px;	

    width: 270px;

    margin-bottom: 10px;

}



.add{

	position: relative; 	

	left: 20px;	

    margin-bottom: 10px;



}





/*********create lisense*******/

/*

.CreateLicense .formCol, {

	margin-top: 15px;

	float:left;

	width: 350px;

}





#comments{

	position: relative; 		

    border-radius: 10px;

    width: 270px;

    height: 60px;

    margin-bottom: 10px;

}



*/

#box {

	width:20px;

	height: 20px;

	top:4px;

	display:inline;

} 

#box label {

	display: inline;

	left: 10px;

}

.CreateLicenseBar section{

    width: 190px;

    margin-top: 20px;

    margin-bottom: 20px;

    margin-left:20px;

    float:left;

}



.CreateLicenseBar section a button{

    width: 170px;

}



.searchLicense section, .CreateLicense  section, #resultePhp section {

	width: 400px;

	float:left;

}





/*******notofications*********/

#content h3{

    margin-left: 20px;

    margin-bottom: 2px;

 	font-size: 16px;

}





/*******style of table result לעדכן!!*********/

/*

tr.Projects_Result{

  background-color: #86B404;<!--hsl(120, 30%, 70%);-->

}

tr.Projects_Result:hover{

  background-color: hsl(150,10%,50%);

  cursor: pointer;

}*/





/*******mobile*********/

@media (max-width:590px) {

	.searchLicense section, .CreateLicense section, .CreateLicenseBar section{

	float:none

	width:100%

	margin: 0px;

	}		

	#logo{

		/*לטפל*/

	}
	main	{

	height: 1500px;

	}

}



/******************************* TABLES **********************************/



#searchContent {

	width: 450px;

	float: left;

	

}

#resultePhp h4 {

	text-align: center;

}

#resultePhp {

		margin-top: 35px;

		float: left;

		width: 800px;

}



table {	

	font-size: 90%;

	text-align: center;

	

	margin: 10px;

	width:780px;

}



table td {

	text-align: center;

	height: 20px;	

	background: #ffffff;	

}



table th {

	text-align: center;

	height: 20px;	

	background: #d6dde7;

	color: black;	

	width:30px;

}