/*custom font for text*/

@import url(http://fonts.googleapis.com/css?family=Nunito);



/*Basic reset*/

* {margin: 0; padding: 0;}



header,section,nav,aside,footer,main, article, ul, a, h3, h1, p {

    display:block;

}

.mobileMenu {
	display: none;
}


body {

	width:100%;

	font-family: Nunito, arial, verdana;

}



#wrapper {

    margin: 0px auto;

    width:100%;

}



.clear { clear:both; }



header ul , #content ul {

	list-style-type: none;

	float: left;

	position: absolute;

}



/*header area*/



header {

    width:100%;

    height:132px;

    float: right;

    background: #d6dde7 url(../images/navBgr.jpg) repeat-x;

}



#logo{

    height: 85px;

    background: url(../images/elbit.png);

    background-repeat: no-repeat;

    background-position:right;

    margin-right:20px;

    margin-top:5px;

}



#user{

	float:right;

	position: relative;

	right:40px;

	top:17px;

}



#user p, #user a {

	display:inline;	

	margin-left:4px;

}

/*content area*/



main  {

	width:100%;

	background-color:#FFFFFF;

	float:left;	

	height: 1300px;

}



#content h1, #searchContent h1, #mainContent h1, #contentNew h1 {



    font-size: 24px;

    line-height: 24px;

    font-weight: bold;

    padding-left: 20px;

    margin-top: 30px;

    color:#004a8f;
    
    position: relative;

}

#content h2, #searchContent h2, #mainContent h2  {

    font-size: 18px;

    padding-left: 20px;

    margin-top: 30px;
    
    position: relative;

}

#content h3, #contentNew h3 {
	font-size: 10px;

	margin-top: 30px;
	
	color: #23527c;
	
	padding-bottom: 10px;
    
        position: relative;
}


#mainContent a, #searchContent ul li {

    font-size: 16px;	

    padding-left: 40px;

    padding-top: 12px;

    padding-bottom: 12px;

    background: url(../images/flag3.png) no-repeat left center;

    margin-left: 30px;

    margin-top: 10px;



}

#mainContent li {
	list-style-type: none;
}

#content a:hover, #content a:link, #content a:visited, #mainContent ul li a:hover, #content ul li a:link, #content ul li a:visited {

	text-decoration: none;

}




/*footer*/



footer {
	
    width:100%;
    background: #032d5f;
    float:left;
    height: 60px;
    position: fixed;
    bottom: 0;
    text-align: center;

}

footer a, footer p {
    text-align: center;
    position: relative;
    top:2px;
}

footer a:link, footer a:visited, footer p

{
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;


}



/*************login page************/



#login{

background: url(../images/login_bg1.jpg);

}



#wrapper_login{

	margin: 0px auto;



}



#logo_login{

	float: left;

	height: 90px;

	margin: 120px 0 0 15px;

	background: url(../images/elbit.png) no-repeat center;

}



.container{
	
	/*width:350px;*/
	width:40%;

}



.form-signin button{

	font-size:16px;

	height:40px;

	background:#032d5f;

}

#loginBut{

margin-top:10px;
}
	 

/*********search licence*******/

.searchLicense label, .CreateLicense label {

   font-weight: bold;

   font-size: 16px;

   position: relative; left: 20px;

}



.searchLicense form input, .CreateLicense form input, .CreateLicense form textarea, .CreateLicense form a {

    position: relative; 	

    left: 20px;	

    width: 270px;

    margin-bottom: 15px;

}

#export{
	position: relative;
	margin-left:220px;
	
}

#export2{
	position: relative;
	margin-left:285px;
}

/*********create licence*******/


#box {

	width:20px;

	height: 20px;

	top:4px;

	display:inline;

} 

#box label {

	display: inline;

	left: 10px;

}

.CreateLicenseBar section{

    width: 250px;

    margin-top: 40px;

    margin-bottom: 20px;

    margin-left:20px;

    float:left;

}



.CreateLicenseBar section a button{

    width: 200px;
    
    height: 40px;

}



.searchLicense section, .CreateLicense  section, #resultePhpL section, #resultePhpP section {

	/*width: 400px;*/
	width: 30%;

	float:left;

}





/*******notofications*********/

#content h3, #contentNew h3{

    margin-left: 20px;

    margin-bottom: 2px;

    font-size: 16px;

}

/*******tablet*********/

@media (min-width:591px) and (max-width:800px) {

main {
	width: 100%;
	
	height: 1200px;
	
	float:left;
}

.CreateLicenseBar section a button {
	
    height: 40px;
	
    margin-top: 30px;
    
    margin-left: 20px;
    
    width: 250px;
}	
}

/*******mobile*********/

@media (max-width:590px) {
	
	header {
	width:100%;

    	height:132px;

  	background: #d6dde7 url(../images/navBgr.jpg) repeat-x;
  		
	}

	
	.mobileMenu {
    	float: right;
    	
    	width: 100%;
    	
    	display: inline-block ;
        
        position: absolute;
        
        z-index: 100;
	}
    
	header .nav {
	display: none;
	}


	main {
	width: 100%;
	
	height: 5000px;
	
	float:left;
	}


	.searchLicense section, .CreateLicense section, .CreateLicenseBar section{

	float:none;

	width:100%;

	margin: 0px;

	}

	
	.CreateLicenseBar section a button {
	
	height: 40px;
	
	margin-top: 30px;
    
    	margin-left: 20px;
    
   	width: 250px;
	}
	
	#searchContent, #contentNew {

        margin-top: 60px;
	width: 150%;

	float: none;

	}



	#mainContent h1{

	margin-top: 70px;

	}
		/**for expired licences in 60 days AND search for licence Name**/
		#resultePhpExpire td:nth-of-type(1):before, #resultePhpL td:nth-of-type(1):before { content: "License Name"; }
		#resultePhpExpire td:nth-of-type(2):before, #resultePhpL td:nth-of-type(2):before { content: "License ID"; }
		#resultePhpExpire td:nth-of-type(3):before, #resultePhpL td:nth-of-type(3):before { content: "Company ID"; }
		#resultePhpExpire td:nth-of-type(4):before, #resultePhpL td:nth-of-type(4):before { content: "Project Amount"; }
		#resultePhpExpire td:nth-of-type(5):before, #resultePhpL td:nth-of-type(5):before { content: "start Date"; }
		#resultePhpExpire td:nth-of-type(6):before, #resultePhpL td:nth-of-type(6):before { content: "end Date"; }
		#resultePhpExpire td:nth-of-type(7):before, #resultePhpL td:nth-of-type(7):before { content: "File"; }
		#resultePhpExpire td:nth-of-type(8):before, #resultePhpL td:nth-of-type(8):before { content: "Comments"; }
	
		/**for projects without licences**/
		#resultePhpWithoutP td:nth-of-type(1):before { content: "Project Name"; }
		#resultePhpWithoutP td:nth-of-type(2):before { content: "Project ID"; }
		#resultePhpWithoutP td:nth-of-type(3):before { content: "start Date"; }
		#resultePhpWithoutP td:nth-of-type(4):before { content: "end Date"; }
		#resultePhpWithoutP td:nth-of-type(5):before { content: "Client"; }
		#resultePhpWithoutP td:nth-of-type(6):before { content: "Country"; }
		#resultePhpWithoutP td:nth-of-type(7):before { content: "Project Amount"; }
		#resultePhpWithoutP td:nth-of-type(8):before { content: "lcID"; }
		#resultePhpWithoutP td:nth-of-type(9):before { content: "lcAmount"; }
		#resultePhpWithoutP td:nth-of-type(10):before { content: "Comments"; }
		
		/**search for Project Name**/
		#resultePhpP td:nth-of-type(1):before { content: "Project Name"; }
		#resultePhpP td:nth-of-type(2):before { content: "Project ID"; }
		#resultePhpP td:nth-of-type(3):before { content: "Licence ID"; }
		#resultePhpP td:nth-of-type(4):before { content: "Project Amount"; }
		#resultePhpP td:nth-of-type(5):before { content: "Licence Name"; }
		#resultePhpP td:nth-of-type(6):before { content: "Company ID"; }
		#resultePhpP td:nth-of-type(7):before { content: "Licence Amount"; }
		#resultePhpP td:nth-of-type(8):before { content: "startDate"; }
		#resultePhpP td:nth-of-type(9):before { content: "endDate"; }
		#resultePhpP td:nth-of-type(10):before { content: "File"; }
		#resultePhpP td:nth-of-type(11):before { content: "Comments"; }
		
	#show table {
		display:none;
	}

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
			width: 120%;

		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border-bottom: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 40%;
		}

 	table tr:first-child td { 
	display: none;
	}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			left: 6px;
			width: 25%;
			padding-right: 10px;
			white-space: nowrap;
			text-align: left;
			background: #ffffff;
			color: #000000;	
			font-weight: bold;
		}
	#export2, #export{
	display: inline;
	margin-left:10px;
	}

	#resultePhpL h4, #resultePhpP h4{
		position: relative;
	
	}




}


/******************************* TABLES **********************************/



#searchContent, #contentNew {

	/*width: 450px;*/
	width: 100%;
	float: left;	

}

#content {

	/*width: 800px;*/
	width: 80%;

	float: left;	

}


#resultePhpL h4, #resultePhpP h4 {

	margin-left:20px;

}

#resultePhpL, #resultePhpP{

		margin-top: 35px;

		float: left;

		/*width: 700px;*/
		width:58%;
		margin-left:20px;


}


#show table {
display:block;
}

table {	

	font-size: 90%;

	text-align: center;

	

	margin: 10px;

	width: 60%;

}



table td {

	text-align: center;

	height: 20px;	

	background: #ffffff;	

}



table tr:first-child td {

	text-align: center;

	height: 20px;	

	font-weight: bold;
	background: #d6dde7;

	color: #000000;	

	width:30px;

}